@font-face{
    font-family: 'poppinsregular';
    src: url(Fonts/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body{font-family: 'poppinsregular';
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

a{
    text-decoration: none;
}

/*Header*/

header {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#logo-container{
    height: 64px;
    width: 64px;
    position: absolute;
}

#menu-container {
    flex-grow: 1;
}

div#logo img{
    width: 125px;
}


nav{
    display: none;
}

input#hamburger-menu {
    display: none;
}

input#hamburger-menu:checked ~ nav{
    display: block;
}

label[for=hamburger-menu] {
    display: inline-block;
    width: 100%;
    margin: 16px 0;
    font-size: 2em;
    text-align: right;
}

nav > ul > li > a:hover{
    background-color: white; 
    color:  #10596A;
}
 
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav > ul > li > a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 10px;
    background-color:  #10596A;
    color: white;
    text-align: center;
    width: 100%;
    margin: 3px 0;
}

#cartmenu{
    display: none;
    margin-right: 30px;
}

.fa-cart-shopping{
    color: black;
    font-size: 1.8rem;
}

.search-bar{
    display: none;
}

.search-icon{
    display: none;
}

.fa-cart-shopping{
    color: #10596A;
    display: none;
}

.cartbutton{
    margin-right: 10px;
}

@media (min-width: 890px){

    #cartmenu{
        display: flex;
    }

    .fa-cart-shopping{
        display: flex;
        margin: 20px;
    }

    label[for=hamburger-menu] {
        display: none;
    }

    .search-icon{
        display: block;
        align-items: right;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    .search-container{
        margin-top: 7px;
    }

    .search-bar{
        display: block;
        border: none;
        align-items: center;
        justify-content: center;
        background-color: #10596A;
        color: white;
        font-size: 1rem;
        padding: 4px;
        border-radius: 20px;
        margin: 10px 30px;
        width: 32px;
        height: 28px;
    }

    @keyframes search {
        from{
            width: 32px;
            height: 28px;
        }
        to{
            width: 150px;
            height: px;
        }
    }

    .search-bar:focus{
        animation-name: search;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .search-bar:valid{
        width: 150px;
    }

    .search-container > div{
        position: relative;
    }

    .search-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    nav{
        margin-top: 0;
        display: block;
    }

    nav > ul{
        flex-direction: row;
        justify-content: left;
        align-items: center;
        height: 64px;

    }

    nav > ul > li > a{
        width: 100px; 
        margin: 0 0 0 20px;
    }

}

/*Main*/

.heropicture{
    text-align: center;
    position: relative;
    margin-top: 0c;
    width: 100%;
    overflow: hidden;
}

.hero{
    width: 100%;
    object-fit: cover;
}

.mntwhite{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
}

.slogan{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10596A;
    height: 35px;
    width: 90px;
    font-size: 1.2rem;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.shoptext{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}

.shoptext:hover{
    color: #10596A;
}

.button-container:hover{
    background-color: white;
    color: #10596A;
}


@media (min-width: 768px){

.heropicture{
    height: 550px;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mntwhite{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 420px;
}

h1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 75px;
    width: 150px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.shoptext{
    font-size: 1.3rem;
}

}

/*Contactsheet*/

.contactsheet{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #10596A), url(Bilder/herohome.jpg) ;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contacttext{
    color: white;
    width: 300px;
    margin: 50px 100px;
    height: 400px;
    text-align: center;
    font-size: 1em;
}

.contactsheet > form{
    margin: 50px 100px;
    width: 90%;
    max-width: 300px;
}

form{
    width: 300px;
    max-width: 600px;
}

.input-group{
   margin-bottom: 30px; 
   position: relative;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

.field{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
textarea{
    transition: 0.2s;
}

button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0
    ;
}

@media (min-width: 576px){
    .contactsheet{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.7), #10596A), url(Bilder/herohome.jpg) ;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .contacttext{
        color: white;
        width: 400px;
        margin: 0px 200px;
        height: 550px;
        text-align: left;
        justify-content: center;
        font-size: 1.2em;
    }

    .contactsheet > form{
        width: 90%;
        max-width: 600px;
    }

    form{
        width: 90%;
        max-width: 600px;
    }

    .contactsheet > form{
        margin-right: 200px;
    }
}

/*Jacket Cards*/


.jacket-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D9D9D9;
    height: auto;
    margin: 25px auto;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
}

.jacket-container > div > a > img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
}

.jacket-container > div > a > p{
    text-decoration: none;
    color: black; 
    text-align: left;
    margin: 5px 0 5px 10px;
}

.color-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;
    margin: 5px;
    align-self: left;
}

.color-container > div{
    width: 30px;
    height: 30px;
    background-color: #10596A;
    border-radius: 50%;
    margin: 0 0 0 0px;
}

.color-container > div:hover{
    border: solid black;
    box-sizing: border-box;
}

@media (min-width: 576px){
    .jackets{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .jackets > .jacket-container{
        display: grid;
        grid-template-columns:  auto auto ;
        grid-template-rows: auto auto;
        width: 300px;
        gap: 20px;
    }

    .jacket-container{
        margin: 25px;
    }
}


/*Footer*/

footer{
    margin-top: 0px;
    padding: 10px 15%;
    background-color: #D9D9D9;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > div{
    text-align: center;
    margin: 15px;
}

footer > div > h2{
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 > a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: #10596A;
    margin-bottom: 10px;
}

footer form input{
    width: 200px;
    height: 20px;
    text-align: center;
    margin: 20px 0 20px 0;
    outline: none;
    background-color: #10596A;
    border: none;
}

footer form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 30px;
    font-size: 15px;
    width: 220px;
    height: 40px;
}

.col-1 a:hover{
    color: #10596A;
    background-color: white;
}

@media (min-width: 850px){
    footer{
        display: flex;
        flex-direction: row;
    }
    footer > div{
        text-align: center;
        margin: 50px;
    }

    footer form input{
        width: 350px;
    }

    footer form button{
        width: 370px;
    }
}

/*Crumbs*/

.crumbs{
    display: inline-block;
    margin-left: 15px;
}

nav.crumbs ol{
    list-style-type: none;
    padding-left: 0;
}

li.crumb{
    display: inline-block;
}

li.crumb a::after{
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 0.8em;
    font-weight: bold;
    padding: 0 1px 0 7px;
}

/*About us*/

.about-text{
    margin: 50px;
    text-align: center;
    font-size: 1em;
}

.about-text > p{
    text-align: left;
}



@media (min-width: 756px){
    .about-text{
        margin: 50px 150px 50px 150px;
        font-size: 1cem;
    }
}

@media (min-width: 1200px){
    .about-text{
        margin: 50px 250px 50px 250px;
        font-size: 1.5em;
    }
}

/********************
Jacket specific
********************/

.price{
    font-size: 1.2em;
    display: flex;
    align-items: start;
    margin: 0;
}

.clothes-container > p{
    margin: 0;
}

hr{
    width: 90%;
    background: black;  
    border: solid 1px #000;
    border-radius: 20px;
    margin: 10px;
}

.clothes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 90%;
    margin: 15px;
    border-radius: 25px;
}

.clothes-container > div > img{
    display: flex;
    width: 300px;
    margin: 30px;
    height: 300px;
}

.jacket-name{
    color: black;
    display: flex;
    font-size: 1.2em;

}

.size-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 30px;
    gap: 30px;
    cursor: pointer;
}

.size-container > p:hover{
    font-size: 35px;
}

.clothes-container > .color-container{
    display: flex;
    justify-content: start;
    width: 100%;
    padding-left: 20px;
}

.clothes-container > .color-container > div{
    margin: 10px;
}

.clothes-container > .size-container{
    display: flex;
    width: 100%;
    justify-content: start;
    padding-left: 40px;
    font-size: 25px;
}

.clothes-container > .size-container > p{
    margin: 2px;
}

.clothes-container > p{
    padding: 20px;
}

.clothes-container > a{
    display: flex;
    background-color: #10596A;
    color: white;
    width: 350px;
    height: 50px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 25px;
}

.clothes-container > a:hover{
    background-color: white;
    color: #10596A;
}

.jacket-info{
    padding: 20px;
}

.jacket-info > div{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    flex-direction: row;
}

.jacket-info > div > p{
 width: 300px;
 
}

.jacket-info > div > i{
    scale: 2.5;
}

@media (min-width: 1000px){

    .clothes-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #D9D9D9;
        width: 90%;
        margin: 15px;
        border-radius: 25px;
    }
}

/********************
        cart
********************/


.cart-form{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.cart-form > p{
    margin-left: 30px;
}

.cart-form > form{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.cart-form > form > input{
    border: solid 1px black;
    width: 300px;
    padding-top: 10px;
    margin: 10px 0 10px 0;
    color: black;
    background-color: transparent;
}

.checkout-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 80%;
    margin-left: 10%;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.checkout-box > a{
    background-color: #10596A;
    padding: 15px;
    text-decoration: none;
    color: white;
    border-radius: 35px;
    width: 100px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.checkout-box > a:hover{
    background-color: white;
    color: #10596A;
}

.cart-info > img{
    width: 100px;
    height: 100%;
}

.checkout-box > div > hr{
    height: 1px;
    width: 100px;
}

.checkout-box > p{
    margin: 5px;
    padding: 0;
}

.cart-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.cart-info > div{
    padding: 20px;
}

.cart-info > div > p{
    padding: 0;
    margin: 0;
}

.checkout-box > div > h2,p{
    display: flex;
    flex-direction: column;
}

.checkout-box > hr{
    margin: 0;
}

.checkout-box > div > p{
    text-align: center;
}




@media (min-width: 576px){

    .cart-form{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .checkout-box{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    background-color: #D9D9D9;
    width: 50%;
    margin-left: 10%;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

}

.checkout-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;

}

.checkout-container > div > i{
    scale: 4;
}

.checkout-container > div:nth-last-child(1){
    text-align: left;
}