@font-face{
    font-family: 'poppinsregular';
    src: url(Fonts/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body{font-family: 'poppinsregular';
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

a{
    text-decoration: none;
}

/*Header*/

header {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#logo-container{
    height: 64px;
    width: 64px;
    position: absolute;
}

#menu-container {
    flex-grow: 1;
}

div#logo img{
    width: 125px;
}


nav{
    display: none;
}

input#hamburger-menu {
    display: none;
}

input#hamburger-menu:checked ~ nav{
    display: block;
}

label[for=hamburger-menu] {
    display: inline-block;
    width: 100%;
    margin: 16px 0;
    font-size: 2em;
    text-align: right;
}

nav > ul > li > a:hover{
    background-color: white; 
    color:  #10596A;
}
 
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav > ul > li > a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 10px;
    background-color:  #10596A;
    color: white;
    text-align: center;
    width: 100%;
    margin: 3px 0;
}

@media (min-width: 890px){

    label[for=hamburger-menu] {
        display: none;
    }   

    nav{
        margin-top: 0;
        display: block;
    }

    nav > ul{
        flex-direction: row;
        justify-content: left;
        align-items: center;
        height: 64px;

    }

    nav > ul > li > a{
        width: 100px; 
        margin: 0 0 0 20px;
    }

}

/*Main*/

.heropicture{
    text-align: center;
    position: relative;
    margin-top: 0c;
    width: 100%;
    overflow: hidden;
}

.hero{
    width: 100%;
    object-fit: cover;
}

.mntwhite{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
}

h1{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.shopnowbutton{
    background-color: #10596A;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    cursor: pointer;
    font-size: 1.3rem;
    white-space: nowrap;
    transform: scale(1);
    width: 150px;
}

.shoptext{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopnowbutton:hover{
    background-color: white;
    color: #10596A;
}


@media (min-width: 768px){

.heropicture{
    height: 550px;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mntwhite{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 420px;
}

h1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.shopnowbutton{
    background-color: #10596A;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    cursor: pointer;
    font-size: 1.3rem;
    white-space: nowrap;
    transform: scale(1.5);
    width: 150px;
}

}

/*Contactsheet*/

.contactsheet{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #10596A), url(Bilder/herohome.jpg) ;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    max-width: 600px;
}

.input-group{
   margin-bottom: 30px; 
   position: relative;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

.field{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
textarea{
    transition: 0.2s;
}

button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0
    ;
}

/*Jacket Cards*/


.jacket-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D9D9D9;
    height: auto;
    margin: 25px auto;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
}

.jacket-container > div > a > img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
}

.jacket-container > div > a > p{
    text-decoration: none;
    color: black; 
    text-align: left;
    margin: 5px 0 5px 10px;
}

.color-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;
    margin: 5px;
    align-self: left;
}

.color-container > div{
    width: 30px;
    height: 30px;
    background-color: #10596A;
    border-radius: 50%;
    margin: 0 0 0 0px;
}

.color-container > div:hover{
    border: solid black;
    box-sizing: border-box;
}

@media (min-width: 576px){
    .jackets{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .jackets > .jacket-container{
        display: grid;
        grid-template-columns:  auto auto ;
        grid-template-rows: auto auto;
        width: 300px;
        gap: 20px;
    }

    .jacket-container{
        margin: 25px;
    }
}


/*Footer*/

footer{
    margin-top: 25px;
    height: 250px; 
    background-color: #D9D9D9;
}

.footer-nav > ul > h3{
    color: black;
    text-align: left;
}


.footer-nav > li > a{
    text-decoration: none;
    color: white;
    background-color: #10596A; 
    padding: 5px;
}

footer > ul > li > a:hover{
    color: #10596A;
    background-color: white;
}

.footer-nav > li{
    margin: 0 0 15px 0;
    list-style: none;
}

/*.footer-nav{
    
}

.footer-other{
    
}*/

.footer-other > li{
    margin: 0 0 15px 0;
    list-style: none;
}

.footer-other > li > a{
    text-decoration: none;
    color: white;
    background-color: #10596A;
    padding: 5px;
}



footer > a > img{
    width: 50px;
    height: auto;
}